.jumbotron  {
    background-color: beige;
    width: 800px;
    white-space: pre-line;
}

.hidden {
    display: none;
}
p{
    word-wrap: break-word;
}

body{
    background-color: khaki;
}
img{
    background: transparent;
}

