.navbar .nav, .navbar .nav > li {
    background-color: #99b5d4;
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
   }
  
   .navbar-inner {
   text-align:center;
  }