<!DOCTYPE html>
<html>
<head>  

</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<h1> Ripple</h1>

<body>
<!-- Desciption and journal databases should have these values inserted -->
    <li><%= data %></li>

    <button onclick="getquote()">get a quote</button>
    <br>
    <br>
    <br>
    <form action="/add_mess", method="POST">
      <div class="form-group col-md-6">
        <label for="message" style="font-size: large;">How are you feeling?:</label>
        <textarea class="form-control" rows="10" id="message"></textarea>
        <input style="position: relative; left: 870px; top: 20px;" type="submit" class="btn btn-primary btn-lg" name = "sub" value="Sign Up">
      </div>
    </form>

  <script>
    function getquote(){
      const proxyurl = "https://cors-anywhere.herokuapp.com/";
      const url = "https://kutip.p.rapidapi.com/api/quote/random?lang=en";
      fetch(proxyurl + url, {
      "method": "GET",
      "headers": {
        "x-rapidapi-host": "kutip.p.rapidapi.com",
        "x-rapidapi-key": "3d472a9dffmsh9ea75918f79cb77p1d7753jsn38591ef6ad75"
      }
    })
    .then(response => {
      console.log(response);
    })
    .catch(err => {
      console.log(err);
    });


    }


  </script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
